<h2 class="page-header">Online Poll</h2>
<form method="GET" action="/login">
	<h4>1. Vote for your favorite OS to develop on.</h4>
    <div class="radio">
		<label>
    	<input type="radio" name="os" id="windows" value="Windows">
    		Windows
  		</label>
	</div>
	<div class="radio">
		<label>
    	<input type="radio" name="os" id="macos" value="MacOS">
    		MacOS
  		</label>
	</div>
	<div class="radio">
		<label>
    	<input type="radio" name="os" id="linux" value="Linux">
    		Linux
  		</label>
	</div>
	<div class="radio">
		<label>
    	<input type="radio" name="os" id="other" value="Other">
    		Something Else
  		</label>
	</div>
	<br />
	<h4>2. Vote for your favorite Programming Language.</h4>
	<div class="radio">
		<label>
    	<input type="radio" name="planguage" id="java" value="JAVA">
    		JAVA
  		</label>
	</div>
	<div class="radio">
		<label>
    	<input type="radio" name="planguage" id="chash" value="C#">
    		C#
  		</label>
	</div>
	<div class="radio">
		<label>
    	<input type="radio" name="planguage" id="python" value="Python">
    		Python
  		</label>
	</div>
	<div class="radio">
		<label>
    	<input type="radio" name="planguage" id="other" value="Other">
    		Something Else
  		</label>
	</div>
	<br />
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>